<section id="countdown">
  <h1>Inscrições abertas durante:</h1>

  <div id="clockdiv">
    <div>
      <span id="days"></span>
      <div class="smalltext">Dias</div>
    </div>
    <div>
      <span id="hours"></span>
      <div class="smalltext">Horas</div>
    </div>
    <div>
      <span id="minutes"></span>
      <div class="smalltext">Minutos</div>
    </div>
    <div>
      <span id="seconds"></span>
      <div class="smalltext">Segundos</div>
    </div>
  </div>

</section>

<script>
  const second = 1000,
        minute = second * 60,
        hour = minute * 60,
        day = hour * 24;

  let countDown = new Date('Oct 31, 2019 00:00:01').getTime(),
      x = setInterval(function() {

        let now = new Date().getTime(),
            distance = countDown - now;

        document.getElementById('days').innerText = Math.floor(distance / (day)),
          document.getElementById('hours').innerText = Math.floor((distance % (day)) / (hour)),
          document.getElementById('minutes').innerText = Math.floor((distance % (hour)) / (minute)),
          document.getElementById('seconds').innerText = Math.floor((distance % (minute)) / second);
        
        //do something later when date is reached
        //if (distance < 0) {
        //  clearInterval(x);
        //  'IT'S MY BIRTHDAY!;
        //}

      }, second)
</script>